*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* 
  Header 
*/
header{
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 999;
}

.title-account{
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  cursor: pointer;
}

/* Title & Account */
.title{
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.6);
}

.title img{
  width: 5rem;
}

.title span{
  font-size: 1.6rem;
  margin-left: 5px;
}

header i{
  padding: 10px;
  color: rgba(0,0,0,.6);
  margin-right: 20px;
}

header i:hover{
  background-color: rgba(0, 0, 0, .1);
  padding: 10px;
  border-radius: 50%;
}

.account span{
  padding: 8px 11px;
  border-radius: 50%;
  background-color: purple;
  color: white;
}

/* Menu */
.menu{
  border-bottom: 1px solid lightgray;
  padding-bottom: 13px;
}

.menu ul{
  display: flex;
  list-style: none;
}

.menu a{
  text-decoration: none;
  cursor: pointer;
  margin-right: 40px;
  padding-bottom: 10px;
}

.noActive{
  color: rgba(0,0,0,.6);
}

.active{
  color: #3367D6;
  border-bottom: 3px solid #3367D6;
}

/* 
  Main 
*/

main{
  width: 55%;
  margin: 0 auto;
  margin-top: 200px;
}

.abclist{
  list-style-type: lower-alpha;
}

main span{
  color: #3367d6;
  cursor: pointer;
}

main h1{
  font-size: 1.6rem;
  color: #3c4043;
  margin-top: 80px;
}

main h3{
  color: #3c4043;
  margin-top: 60px;
}

main p{
  margin: 40px 0px;
  color: rgba(0,0,0,.7);
  font-size: .95rem;
}

main ol{
  color: rgba(0, 0, 0, .7);
  font-size: .95rem;
}

span i{
  font-size: .7rem;
  margin-left: 5px;
}

/* 
  Footer 
*/
footer{
  background-color: #f5f5f5;
  height: 50px;
}

.footer-container{
  display: flex;
  width: 55%;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
}

.footer-link{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.footer-link span{
  margin-right: 10px;
  font-size: .7rem;
  color: rgba(128, 128, 128, .7);
  cursor: pointer;
}

.footer-lang{
  display: flex;
  align-items: center;
  height: 100%;
}

#lang{
  background-color: white;
  border: none;
  border: 1px solid black;
  width: 200px;
  border-radius: 2px;
}

footer i{
  margin-right: 5px;
  color: white;
  background-color: #22ADF7;
  padding: 3px 6px;
  border-radius: 1px;
}